@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: #0b1a2e;
  color: #8893af;
  position: relative;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #68a2ee;
  width: 100vw;
  position: fixed;
  z-index: 200;
  padding-left: 14vw;
  padding-right: 14vw;
  min-height: 6vh;
}
.navbar a {
  color: #ffffff !important;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6em;
}

.navbar-toggler {
  width: 55px;
  height: 50px;
  text-align: center;
  display: block;
}

.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.navbar-toggler-icon::before {
  content: "";
  margin-top: -8px;
}

.navbar-toggler-icon::after {
  content: "";
  margin-top: 8px;
}

/* .navbar-toggler-icon {
  background-color: #f2f2f2;
} */

/* .navbar-expand-lg:first-child {
  padding-left: 14vw;
} */

p {
  color: hsl(223, 28%, 80%);
  font-size: 17px !important;
}

.text-muted {
  color: hsl(223, 28%, 80%) !important;
  font-size: 14px !important;
  margin-bottom: 3px !important;
  margin-left: 2px !important;
}

.manoj {
  width: 400px;
  height: 400px;
  image-rendering: optimizeSpeed;
  object-fit: cover;
  background-color: #efefef;
}

.lined::after {
  background: #62f9d5 !important;
}

.text-primary {
  color: #ccd7f5 !important;
  margin-bottom: 8px;
  display: block;
}

.text-op {
  color: #8893af;
}

.text-intro {
  font-size: 22px;
  display: block;
  font-family: monospace;
  color: #62f9d5;
  margin-bottom: 25px;
  margin-left: 7.5px;
}

.secondary-heading {
  color: #62f9d5;
}

.touch-btn {
  color: #62f9d5 !important;
  font-family: monospace;
  border: 1px solid #62f9d5;
  padding: 20px 35px;
  margin-top: 60px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none !important;
  position: relative;
  z-index: 2;
  background: transparent;
  transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.touch-btn:after {
  content: "";
  position: absolute;
  transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 0;
  height: 100%;
  background: #62f9d5;
  top: 0;
  left: 0;
  z-index: -1;
}

.touch-btn:hover {
  color: #0c1b30 !important;
  border: 1px solid #fff;
}

.touch-btn:hover:after {
  width: 100%;
}

.contact {
  background: #0c1b30;
}

.progress-primary-1,
.progress-primary-2,
.progress-primary-3,
.progress-primary-4,
.progress-primary-5 {
  background: #62f9d5;
}

footer {
  background: #0c1b30 !important;
}

.form-control {
  border: 1px solid #62f9d5;
}

/* #projectworks {
  /* display: grid;
  max-width: 50vw;
  width: 50vw;
  grid-template-columns: 1fr 1fr;
  margin-left: 50vw;
  transform: translateX(-50%);
  text-align: center; */
/* } */
#projectworks > div {
  padding-left: 30px;
}

#projectworks > div > h3 {
  color: #efefef;
  margin-bottom: 40px;
  text-align: center;
}
#gazetteer,
#company {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 40px;
  cursor: pointer;
}
.visit {
  font-family: monospace;
}
.visit > a {
  font-family: monospace;
  text-decoration: none !important;
}
.visit > a:hover {
  color: #62f9d5;
}

.btn-outline-primary {
  color: #62f9d5 !important;
  border-color: #62f9d5 !important;
}

.btn-outline-primary:hover {
  color: #0c1b30 !important;
  background-color: #62f9d5 !important;
  transition: all 0.3s ease-in-out !important;
}

.view-links {
  margin-top: 50px;
}

.view-links div {
  display: inline-block;
}

.view-links a {
  color: #62f9d5 !important;
  font-family: monospace;
  text-decoration: none;
  border-bottom: 2px solid;
  font-size: 20px;
}
.view-links .download-cv {
  margin-right: 25px;
}
h4 {
  color: #efefef;
}

#tech-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#tech-logo > div {
  width: 60px;
  height: 100px;
  align-items: center;
}

.tech-img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
}
